@using FitnessPlanMVC.Application.ViewModels.Product
@model FitnessPlanMVC.Application.ViewModels.Product.ProductDetailVm


@{
    ViewBag.Title = "Details";
    Layout = "_Layout";
}

<h2>Details</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Calories(kcal)
            </th>
            <th>
                Protein(g)
            </th>
            <th>
                Fat(g)
            </th>
            <th>
                Carbohydrates(g)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Html.DisplayFor(modelNv => modelNv.Name)
            </td>

            <td>
                @Html.DisplayFor(modelNv => modelNv.Calories)kcal
            </td>
            <td>
                @Html.DisplayFor(modelNv => modelNv.Protein)g
            </td>
            <td>
                @Html.DisplayFor(modelNv => modelNv.Fat)g
            </td>
            <td>
                @Html.DisplayFor(modelNv => modelNv.Carbohydrates)g
            </td>

            <td>
            </td>
        </tr>

    </tbody>
</table>
