@model FitnessPlanMVC.Application.ViewModels.Exercise.ExerciseDetailVm

@{
    ViewBag.Title = "Details";
    Layout = "_Layout";
}

<h2>Details</h2>

<div class="exercise-details">
    <div>
        <th>Name:</th>
        @Html.DisplayFor(exercise => exercise.Name)
    </div>
    <div>
        <th>Description:</th>
        @Html.DisplayFor(model => model.Description, new { @class = "form-control", rows = 4 })
    </div>
    <div>
        <th>Instruction:</th>
        @Html.DisplayFor(exercise => exercise.Instruction, new { @class = "form-control", rows = 4 })
    </div>
    <div>
        <th><strong>Parties involved:</strong></th>
        @Html.DisplayFor(exercise => exercise.InvolvedParties, new { @class = "form-control", rows = 4 })
    </div>
    <div>
        <th>Tips:</th>
        @Html.DisplayFor(model => model.Tips, new { @class = "form-control", rows = 4 })

    </div>
</div>